body {
    font-family: 'Roboto', sans-serif;
    background-color: #050404;
    background-image: url('https://www.dsu.edu.in/images/Admission/admission_page_img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
}


.header {
    background-image: url('imag.jpeg');
    background-size: cover;
    background-position: center;
    color: #b0cc98;
    padding: 5px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    font-family: 'Arial';
    font-weight: bold;
    letter-spacing: 2px; /* Adjust as needed */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adjust as needed */
    border: 1px solid #419bbb; /* Border color */
    -webkit-text-stroke: 0.6px  #93b17a; /* Border around letters */
    
   

}


.header:hover {
    opacity: 0.8;
}

.header-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    transition: text-decoration 0.3s ease;
    font-size: 35px;
    
}

.header-text:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #95b2bde4;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(49, 47, 47, 0.4);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
}

.login-section {
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.login-section:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: 98%;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #393737;
    color: #fff;
    transition: background-color 0.3s ease;
}

input[type="text"]:hover,
input[type="password"]:hover,
select:hover {
    background-color: #444;
}

button {
    padding: 10px 20px;
    background-color: #1976D2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #1565C0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}
